<h1><%= @grocery.name %></h1>

<p>Locations: <%= @grocery.location %> </p>
<p>Saved?: <%= @grocery.saved %></p>
<p>Checked?: <%= @grocery.checked %></p>

<button><a href="/groceries/<%= @grocery.id%>/edit">Edit</a></button>
<button><a href="/groceries/<%= @grocery.id%>"
          data-confirm="Sure you want to delete?"
          data-method="delete"
          rel="nofollow">Delete</a>
</button>

<p><a href="/groceries">Return to grocery list</a></p>
